body {
	background-color: #ffc;
	text-align: center;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	/* text-align: center; */
	padding: 5px 15px;
}

caption {
	margin-bottom: 16px;
	font-size: 150%;
	letter-spacing: 5px;
	font-weight: bold;
}

table#menu {
	background-color: #cecece;
	margin-left: 10%;
	width: 80%;
}

table.users, table.beers {
	background-color: #e6e6e6;
	margin-top: 16px;
	margin-left: 20%;
	width: 60%;
}

th {
	background-color: #dadada;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

form.inline {
/*
	display: inline-block;
	padding: 16px 8px;
 */
}

/* form.inline input { */
/* 	font-size: 14px; */
/* 	padding: 4px; */
/* 	width: 70px; */
/* } */

/* Bordered form */
form {
    border: 4px solid #f1f1f1;
    background-color: #cecece;
    margin: auto;
/*     margin-top: 60px; */
    
}

#regForm, #loginForm {
	max-width: 300px;
}


#feedbackForm {
	max-width: 500px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 8px 12px;
    margin: 4px 0;
    border: 2px solid #bbb;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for "Cancel" button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 20px;
    background-color: #f44336;
}

/* Extra style for "Send" button */
.sendbtn {
    width: 160px;
    padding: 10px 20px;
}

/* Image container */
.imgContainer {
    margin-top: 12px;
}

/* Avatar image */
img.avatar {
    width: 20%;
    border-radius: 20%;
}

/* Add padding to containers */
.container {
    padding: 12px;
}

/* The "Forgot password" text */
span.password {
    float: right;
    padding-top: 16px;
}

div.errors {
	background-color: #ffcccc;
	border: 2px solid red;
}

textarea {
    width: 400px;
}

img.logo {
    height: 50px;
    float: left;
}

h2.logo {
    height: 0;
    float: left;     
}

img.bestItem {
    height: 100px;
}

div.bestItem {
    margin: 20px 0;
    width: 33%;
    float:left;
}

div.bestItem h2 {
    margin-top: 60px;
}

nav {
    float: right;
}

ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 2px 10px   
}

nav a, section.best a {
    color: brown;
    font-weight: bold;
    text-decoration: none;
}

footer a {
    color: black;
    text-decoration: none;
}

td a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
